@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
/*Navbar */
header {
  margin-top: 0;
  background-color: rgba(255, 144, 14, 0.1);
}
.navbar {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  align-items: center;
}
.title {
  font-size: 40px;
  font-weight: bold;
}
.home {
  display: flex;
  gap: 30px;
  font-size: 18px;
  font-weight: 500;
}
/* Header */
.header {
  text-align: center;
  margin: 50px 150px;
}
.header-title {
  font-size: 50px;
  font-weight: bold;
}
.header-info {
  font-size: 16px;
  color: #727272;
}
.btn-header {
  background-color: #ff900e;
  color: white;
  border: 1px solid #ff900e;
  border-radius: 8px;
  width: 150px;
  height: 50px;
  font-size: 16px;
}
.btn-header:hover {
  background-color: rgb(124, 132, 249);
}
header img {
  width: 85%;
  margin-top: 50px;
  margin-left: 60px;
  margin-bottom: 50px;
}

/* Team Section */
.main-team {
  display: flex;
  margin-top: 50px;
  align-items: center;
  width: 100%;
  gap: 50px;
}
.teams {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  border-radius: 8px;
  margin-left: 50px;
}
.team-info {
  text-align: start;
  display: grid;
  gap: 15px;
  margin-right: 60px;
}

/* Feature section */
.features {
  margin-top: 100px;
  gap: 50px;
  display: flex;
  margin-left: 20px;
}
.features-intro {
  margin-bottom: 30px;
}
.f-title {
  font-size: 25px;
  font-weight: bold;
}
.f-t-d {
  color: #727272;
}
.feature-first {
  width: 40%;
  gap: 20px;
}
.feature-card {
  gap: 20px;
}
.card-1 {
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 30px 0 rgb(0, 0, 0, 0.06);
  margin-bottom: 20px;
  margin-left: 10px;
}
.card-1:hover {
  background-color: #c6dbf5;
}
.feature-img {
  width: 450px;
  background-image: url(./images/architect1.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 50px;
}
/* Some Facts section */
.fact-title {
  margin: 50px 35px;
}
.fact-title p {
  font-size: 30px;
  font-weight: bold;
}
.fact-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}
.fact-card {
  border: 1px solid #ff900e;
  border-radius: 8px;
  width: 150px;
  height: 150px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}
.fact-card:hover {
  background-color: #c6dbf5;
}
.fact-icon {
  width: 25px;
}
.fact-number {
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}
.fact-name {
  color: #727272;
}
/* Sponsor section */
.sponsor-title {
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}

.companies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 20px;
  max-width: 100%;
  border: 1px solid saddlebrown;
}
.companies img {
  filter: grayscale(100%);
}

/* footer */
.footer {
  background-color: #fff4e7;
  width: 640px;
  height: 50px;
  margin: 100px 80px;
  text-align: center;
  border-radius: 10px;
}
.footer p {
  align-items: center;
  padding-top: 15px;
  color: #424242;
  font-size: 15px;
}
